*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: 0.3s;
}

a{
    cursor: pointer;
    text-decoration: none;
    color: rgb(40, 40, 40);
}

main{
    font-family: 'Roboto', sans-serif;
}

.index {
    font-size: 25px;
    font-family: "Comic Sans MS";
 
    padding:20px;
  }
  .links {
    text-decoration: none;
    list-style: circle !important;
  }
  
  .links:hover {color: red;}
  .links:active {color: red;}
  
  table {
    width: 100%;
    empty-cells: hide;
  }
  
  th {
    background-color: pink;
    width: 33.33%;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  td {
    background-color: #ffe6ea;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  } 
.background {
    background-image: url("C:/Users/vamsi/OneDrive/Pictures/Screenshots/Order of Image in coding/1.png");
    padding: 160px ;

    position: relative;
    background-size: cover;
}

.container {
    position: relative;
    margin: auto;
    max-width: 1200px;
    z-index: 2;
}

 .background p {
    color: #fff;
    width: 28%;
}

 .background h1 {
    color: #fff;
    width: 32%;
    padding-bottom: 20px;
}

body{
    font-family: 'Roboto', sans-serif;
}

.ocean{
    width: 33%;
}

.flex-wrapper{
    display: flex;
    justify-content: space-between;
flex-wrap: wrap;
}

.ocean h1{
    color: #118877;
    padding-top: 20px;
    text-align: left;
    padding-bottom: 15px;
    margin: 0 !important;
} 

.list h1{
    padding-top: 40px;
    font-size: 30px;
    padding-bottom: 20px;
}

.list li{
    list-style: none;
    width: 74vw;
    padding-top: 21px;
    background-image: url(images/arcticons_droplets.svg);
    background-position: 0% 18%;
    background-repeat: no-repeat;
    padding-left: 44px;
    font-size: 24px;
}

.read{
  padding-top: 72px;
  padding-bottom: 102px;
}

 .read a{
    text-decoration: none;
    color: #118877;
    border: 2px solid;
    border: solid linear-gradient(94.78deg, #118877 7.54%, #028090 97.64%);
    padding: 8px 45px;
}

.problem{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.problem a{
    border: solid #027E90;
    width: 33%;
    text-align: center;
    font-size: 24px;
   text-decoration: none;
   padding-top: 39px;
   padding-left: 22px;
   padding-right: 85px;
   padding-bottom: 39px;
    color: #027E90;
    margin-bottom: 24px;
    background-repeat: no-repeat;
    background-image: url(images/Arrow2.svg);
background-position: 96% center;
text-align: left;
}

.topic{
    padding-bottom: 50px;
}

.new{
    padding-top: 90px;
    padding-bottom: 54px;
}

.news{
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;
}

.news a{
    border: solid #027E90;
    width: 100%;
    text-align: center;
    padding-top: 67px;
    padding-left: 33px;
    padding-right: 96px;
    padding-bottom: 67px;
    font-size: 30px;
    margin-top: 24px;
    text-decoration: none;
    color: #027E90;
    background-image: url(images/Arrow2.svg);
    background-repeat: no-repeat;
    background-position: 96% center;
    text-align: left;
}

.problem a:hover{
    background-color: #028090;
    color: #fff;
    background-image: url(images/Arrow1.svg);
}

.news a:hover{
    background-color: #028090;
    color: #fff;
    background-image: url(images/Arrow1.svg);
}

footer{
    background-color: #333333;
}

footer p{
    color: #FFFF;   

    text-align: center;
    font-size: 20px;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
}

@media(max-width:1200px ){
    .container{
        max-width: 95%;
    }

}

@media(max-width: 1100px ){
    .problem a{
        width: 48%;
    }
}

@media(max-width: 864px){
    .ocean{
        width: 48%;
    }
}

@media(max-width: 425px){
  .problem a{
      width: 100%;
      font-size: 20px;
      padding: 20px 45px 20px 20px;
      text-align: left;
  }
  .ocean{
      width: 100%;
  }

  .news a{
      width: 100%;
      font-size: 20px;
      padding: 20px 50px 20px 20px;
  }

  .background h1{
     font-size: 25px;
  }

  .background{
      padding: 100px 0;
  }

  .list h1{
      font-size: 25px;
      padding-bottom: 25px;
      padding-top: 50px;
  }

  .new{ 
      padding-top: 20px;
      padding-bottom: 25px;
  }

  .topic{
      padding-top: 0;
      padding-bottom: 25px;
  }
  .read{
      padding-bottom: 50px;
      padding-top: 50px;
}

.ocean h1{
    padding-top: 25px;
    padding-bottom: 15px;
}

.news{
    padding-bottom: 50px;
}

.black{
    width: 100%;
}
.background p{
  width: 90%; 
}

.background h1{
    width: 40%;
}
}

@media(max-width: 348px){
    .news a{
        padding: 20px 60px 20px 20px;
        font-size: 18px;
    }

    .problem a{
        padding: 20px 63px 20px 20px;
        width: 100%;
        font-size: 18px;
    }
}
*{
    font-family: 'Roboto', sans-serif;
}

footer{
  
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
    background-color: rgb(51, 51, 51);
    font-size: 20px;
    align-items: center;

}

footer p{
    color: white;
}

h1{
    font-weight: 400;
    font-size: 35px;
    line-height: 41px;
    color: #000000;
    margin-top: 40px;
    margin-bottom: 30px;
}

.images{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.images_2{
    margin-top: 21px;
}

.images img{
    width: 49%;
}

.text{
    font-size: 20px;
    margin-bottom: 19px;
}

.bottom_ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
}

.bottom_ul li{
    border: 2px solid #028090;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 344px;
    margin: 10px;
}

.bottom_ul li p{
    font-size: 20px;
    padding: 5px;
    display: inline-block;
}

.bottom_ul li img{
    padding: 2px;
    height: 140px;
    width: 340px;
    border-bottom: #028090 solid 2px;
}

.container{
    padding-left: 10px;
    padding-right: 10px;
}

h2{
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 10px;
}

@media(max-width: 767px){
    .images img{
        width: 90%;
        margin-bottom: 15px;
    }

    .images{
        justify-content: center;
    }

    .bottom_ul li img{
        width: 296px;
    }

    .bottom_ul li{
        width: 300px;
    }
}
.x li{ 
    padding: 20px;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: row !important;
    width: 344px; 
} 
.m{
    font-style: italic;
    position: relative;
 color: #808080 !important;
}
 

 .u-title {
    color: #16275b !important;
    font-weight: 400;
    font-size: 3.75rem;
    line-height: 1.1;
}
.header_name_p{
    position: absolute;
    top: 17px;
    left: 10px;
}
.mt-1x{
    margin-top: 30px;;
 
}
 .mt-10{
    margin-top: 50px;
 }
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    color: #000000;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
}

li{
    list-style-type: none;
}

header ul{
    display: flex;
    height: 31px;
    margin-top: 26px;
    margin-bottom: 21px;
}

header ul li{
    margin-right: 53px;
    font-weight: 400;
    font-size: 24px;
    border-bottom: solid 2px #028090;
    font-family: 'Roboto', sans-serif;
}

header ul .header_ul_last_child{
    margin: 0;
}

.container{
    max-width: 1200px;
    margin: auto;
}

.header_name_p{
    margin-top: 14px;
    margin-bottom: 14px;
    font-weight: 400;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    vertical-align: middle;
}

.header_button{
    background: none;
    outline: none;
    border: solid #118877 2px;
    color: #118877;
    margin-bottom: 18px;
    margin-top: 18px;
    padding: 6px 43px;
    font-weight: 400;
    font-size: 24px; 
    font-family: 'Roboto', sans-serif;
}
.header_button:hover{
    cursor: pointer;
}
.log_in_bg_div{
    transition: .3s;
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.206);
    z-index: 10;
}

.log_in_div{
    margin: 0 40px 0 40px;
    border-radius: 2px;
    margin-top: 5%;
    height: 700px;
    width: 800px;
    background-color: white;
    display: flex;
    justify-content: center;
}

.log_in_div form{
    margin: 0 20px 0 20px;
    position: relative;
    margin-top: 22%;
    margin-bottom: 22%;
    display: flex;
    flex-direction: column;
}

.log_in_div form input{
    padding-left: 25px;
    font-size: 24px;
    outline: none;
    border: none;
    border-radius: 0;
    background-color: #E0E0E0;
    height: 80px;
    width: 678px;
    margin: auto;
}

.log_in_div form .form_enter{
    cursor: pointer;
    height: 80px;
    width: 678px;
    margin: auto;
    font-family: 'Inter', sans-serif;
    outline: none;
    border: none;
    background-color: #909BFC;
    font-weight: 400;
    font-size: 24px;
}

.create_account{
    cursor: pointer;
    margin-top: 30px;
    font-weight: 400;
    font-size: 24px;
    text-decoration: none;
    color: #000000;
    font-family: 'Inter', sans-serif;
    display: block;
    text-align: center;
}

.password_view{
    position: absolute;
    outline: none;
    border: none;
    width: 30px;
    height: 30px;
    background: none;
    top: 130px;
    right: 20px;
    cursor: pointer;
}

.password_view img{
    background-image: url(img/view.png);
    width: 30px;
    height: 30px;
}

.display_none{
    display: none;
}

.menu_line1{
    width: 40px;
    height: 14px;
    border-top: solid 4px #118877;
}

.menu_line2{
    width: 40px;
    height: 18px;
    border-top: solid 4px #118877;
    border-bottom: solid 4px #118877;
}

.menu{
    margin: auto 0 auto 0;
    height: 36px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    display: none;
}

.z_index0{
    z-index: 0;
    visibility: hidden;
    opacity: 0;
}

.full_menu_bg{
    z-index: 10;
    transition: .3s;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #00000080;
    width: 100%;
    height: 100%;
}

.full_menu_animation{
    animation-name: move;
    animation-duration: .6s;
    animation-fill-mode: forwards;
}

.full_menu_animation_backward{
    animation-name: move_backward;
    animation-duration: .6s;
    animation-fill-mode: forwards;
}

.full_menu{ 
    width: 256px;
    margin-left: -256px;
    height: 100%;
    background-color: white;
    text-align: right;
}

.full_menu_bg .full_menu button img{
    width: 40px;
    height: 40px;
}

.full_menu_bg .full_menu ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    margin-left: 10px;
}

.full_menu_bg .full_menu li{
    font-weight: 400;
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
}

.full_menu_bg .full_menu button{
    background: none;
    border: none;
    outline: none;
    margin-top: 20px;
    margin-right: 20px;   
}

@keyframes move {
    form{
        
    }

    to{
        margin-left: 0;
    }
}

@keyframes move_backward {
    form{
        margin-left: 0;
    }

    to{
        margin-left: -256px;
    }
}

@media (max-width: 799px){
    header ul{
        display: none;
    }

    header{
        justify-content: space-around;
    }

    .menu{
        display: inline-block;
    }

    .log_in_div form .input_width{
        width: 600px;
    }

    .password_view{
        top: 145px;
    }
}

@media (max-width: 720px){
    .log_in_div form .input_width{
        width: 500px;
    }

    .password_view{
        top: 165px;
    }
}

@media (max-width: 615px){
    .log_in_div form{
        margin-top: 35%;
        margin-bottom: 35%;
    }
    
    .log_in_div form .input_width{
        width: 400px;
    }

    .password_view{
        top: 120px;
    }
}

@media (max-width: 500px){
    .log_in_div form{
        margin-top: 40%;
        margin-bottom: 40%;
    }

    .log_in_div form .input_width{
        width: 300px;
    }

    .password_view{
        top: 137px;
    }
}

@media (max-width: 415px){
    .log_in_div form{
        margin-top: 50%;
        margin-bottom: 50%;
    }

    .log_in_div form .input_width{
        width: 200px;
    }

    .header_button{
        padding: 6px 20px;
    }
}
